*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: black;
}
.youtube-clone-container{
    padding-top: 57px;
    padding-left: 72px;
    background-color: #f9f9f9;
}

@media (min-width: 1200.1px) {
    .youtube-clone-container{
        padding-left: 260px;
    }
}

@media (max-width: 425px) {
    .youtube-clone-container{
        padding-left: 0px;
    }
}